main {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Navigation */

.container-nav{
    display: flex;
    align-items: center;
    padding: 0.5rem 20%;
    background-color: #f0f0f0;
}

.container-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
}

nav h1 {
    text-align: center;
    margin: 1rem 10;
}

#container-nav-footer {
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.site-link:first-of-type {
    margin-left: auto;
}

.site-link {
    margin-left: 1rem;
}

/* Home */

.Page-h1 {
    text-align: left;
    margin: 1rem 20%;
}

.container-page {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 34rem;
}

.container-page-stack {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-page-stack h2 {
    margin: 0;
}

.container-page-stack p {
    margin: 0;
    font-style: italic;
}

/* Profile */

.Profile-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 20% 1rem 20%;
    gap: 2rem;
    align-items: flex-start;
    padding: 1rem;
}

table td:first-child {
    font-weight: bold;
    padding-right: 1rem;
}

.footer-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-stack p {
    margin: 0;
}

.Profile-role {
    padding: 1rem;
    background-color: #f9f9f9;
}

/* Timesheet */

.form-container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    min-width: 100px;
}

.form label {
    text-align: center;
}

.btn {
    display: flex;
    margin-top: 1rem;
}

.btn button {
    width: 100%;
    box-sizing: border-box;
}